{% extends "base.html" %}

{% block title %}
<title>Dashboard</title>
{% endblock title %}

{% block content %}
Для вас доступны:
<form action="{% url 'store' %}" method="get">
    <input type="number" name="page" value="1" hidden>
    <input class="btn btn-primary" type="submit" value="Магазин" readonly>
</form>
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        You are a superuser
    {% endif %}
{% else %}
<a href="{% url 'signup' %}">Зарегистрируйтесь</a> или
<a href="{% url 'login' %}">войдите</a>, чтобы увидеть больше
{% endif %}
{% endblock content %}